{{! 
  Button Component
  @param {String} [url] - Optional URL for link buttons
  @param {String} [variant="primary"] - Button style variant: "primary", "secondary", "danger", "success", "outline"
  @param {String} [onclick] - JavaScript function name to call on click (for <button> only)
  @param {String} [id] - Optional ID attribute
  @param {Boolean} [disabled] - Whether button should be disabled
  @param {String} [class] - Additional CSS classes to apply
  @param {Boolean} [spaIgnore] - Whether to bypass the SPA router (for links only)
}}

{{#if url}}
<a href="{{url}}" 
  class="{{twMerge 'rounded-lg transition-colors w-fit block px-4 py-2' (buttonVariants variant) 'disabled:opacity-50 disabled:cursor-not-allowed' class}}"
  {{#if id}}id="{{id}}"{{/if}}
  {{#if disabled}}aria-disabled="true" tabindex="-1"{{/if}}
  {{#if spaIgnore}}data-spa-ignore="true"{{/if}}>
  {{> @partial-block }}
</a>
{{else}}
<button 
  class="{{twMerge 'rounded-lg transition-colors w-fit px-4 py-2 has-[svg]:gap-1 has-[svg]:not-[.hidden]:flex has-[svg]:text-center has-[svg]:items-center' (buttonVariants variant) 'disabled:opacity-50 disabled:cursor-not-allowed' class}}"
  {{#if id}}id="{{id}}"{{/if}}
  {{#if disabled}}disabled{{/if}}
  {{#if aria-label}}aria-label="{{aria-label}}"{{/if}}
  {{#if type}}type="{{type}}"{{/if}}
  {{#if onclick}}onclick="{{onclick}}(event)"{{/if}}
  {{#if data-id}}data-id="{{data-id}}"{{/if}}
  >
  {{> @partial-block }}
</button>
{{/if}}