<div class="chat-room flex items-center p-2 rounded-lg cursor-pointer mb-2 {{#if room.selected}}{{/if}}" data-room-id="{{room.id}}" data-read="{{room.read}}" onclick="chat.selectRoom(event)">
    {{#if room.user}}
        <div class="flex-shrink-0 mr-3 relative">
            <img src="{{room.user.imageUrl}}" alt="{{room.user.userName}}" class="bg-bg-muted border w-10 h-10 object-cover rounded-full overflow-hidden">
          {{#if room.user.online}}
            <div class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 rounded-full border-2 border-fg"></div>
          {{/if}}
        </div>
    {{/if}}
    <div class="chat-room-name font-medium flex items-center w-full min-w-0">
        <div class="min-w-0 flex-1">
            <p class="truncate ">{{#if room.user}}{{room.user.userName}}{{else}}{{room.name}}{{/if}}</p>
            {{#if room.user.userId}}<a class="font-light text-fg-muted" href="/users/{{room.user.userId}}">View Profile</a>{{/if}}
        </div>
        {{#unless room.read}}
            <span class="bg-blue-500 text-fg text-xs px-2 py-1 rounded-full ml-2 flex-shrink-0">New</span>
        {{/unless}}
    </div>
    {{#> components/button id="send-invite-button" class="hidden" variant="ghost" onclick="chat.sendInvite"}}
      <svg id="send-invite-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="currentColor" d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/></svg>
      <svg id="send-invite-sucess-icon" class="hidden" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 16 16"><g fill="currentColor"><path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178l1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494l-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363L1.591 6.602z"/><path d="M16 12.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95l-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/></g></svg>
    {{/components/button}}
</div>
