<div class="flex flex-col border-b">
  <div class="flex flex-row items-center justify-between p-2">
    <div class="flex-4">
      <span>{{gameName}}</span>
      <span>{{matchId}}</span>
    </div>
    <div class="flex justify-end flex-4">
    <span class="ml-4 font-bold">
      {{#if (eq result "win")}}
        <span class="text-green-500">Win</span>
      {{else if (eq result "draw")}}
        <span class="text-yellow-500">Draw</span>
      {{else}}
        <span class="text-red-500">Loss</span>
      {{/if}}
    </span>
    </div>
    <button
      class="flex toggle-leaderboard justify-end flex-1"
      onclick="profileEditor.toggleLeaderboard(this)"
    >
      ▼
    </button>
  </div>
  <div class="leaderboard hidden p-2">
    {{#each leaderboard}}
      <div class="flex justify-between items-center gap-x-4">
        <span class="w-8">{{inc @index}}.</span>
        <span class="flex-1 truncate">{{username}}</span>
        <span class="w-12 text-right">{{score}}</span>
      </div>
    {{/each}}
  </div>
</div>