<div
  class="flex flex-row items-center justify-between gap-y-1.5 p-6"
  data-user-id="{{userId}}"
>
  <div class="group flex items-center space-x-4">
    {{#if imageUrl}}
      <a
        href="/users/{{userId}}"
        class="bg-bg-muted border-fg inline-flex h-10 w-10 shrink-0 items-center justify-center overflow-hidden rounded-full text-xs select-none group-has-[a:hover]:border"
      >
        <img
          role="img"
          src={{imageUrl}}
          class="h-full w-full object-cover"
          alt="Profile Picture"
          loading="lazy"
        />
      </a>
    {{else}}
      <a
        href="/users/{{userId}}"
        class="bg-bg-muted border-fg inline-flex h-10 w-10 shrink-0 items-center justify-center overflow-hidden rounded-full text-xs select-none group-has-[a:hover]:border"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
      </a>
    {{/if}}
    <div class="max-w-[200px] overflow-hidden">
      <a
      class="leading-none font-medium group-has-[a:hover]:underline truncate block"
      href="/users/{{userId}}"
      title="{{userName}}"
      >
      {{userName}}
      </a>
    </div>
  </div>
  {{#if showFriendButton}}
    {{> components/user/friendbutton userId=userId showText=showText}}
  {{/if}}
  {{#if requestSent}}
    {{> components/user/friendsent}}
  {{/if}}
  {{#if showRemoveButton}}
    {{>  components/user/removefriendbutton userId=userId showText=showText}}
  {{/if}}
  {{#if showRequestButtons}}
    {{> components/user/requestButtons userId=userId showText=showText}}
  {{/if}}
</div>