<div
  id="{{match.tournamentId}}-{{match.id}}"
  class="match border bg-black-200 mt-2 mb-2 p-2 rounded-lg"
>
  <table class="table-fixed text-sm font-mono border-separate border-spacing-x-2 border-spacing-y-3">
    <tbody>
    {{#each match.players as |player playerIndex|}}
      <tr class="pb-2">
        <!-- Player name -->
        <td class="pr-2">
          {{#if player.isReady}}
            <div class="font-semibold w-[200px] truncate">
              {{player.name}}
            </div>
          {{else}}
            <div class="w-[200px] truncate text-center text-gray-500">
              LUEN is an asshole
            </div>
          {{/if}}
        </td>

        {{#if player.isReady}}
          <!-- Win-count badge, colour depends on leadPlayer -->
          {{#if (eq ../match.leadPlayer playerIndex)}}
            {{> components/tournament-view/score-cell score=player.winCount isWinner=true}}
          {{else if (eq ../match.leadPlayer -1)}}
            {{> components/tournament-view/score-cell score=player.winCount isWinner=false}}
          {{else}}
            {{> components/tournament-view/score-cell score=player.winCount isWinner=false}}
          {{/if}}

          <!-- Separator -->
          <td class="px-2 text-gray-500">|</td>

          <!-- Per-game scores -->
          {{#each player.score as |score gameIndex|}}
            {{> components/tournament-view/score-cell
              score=score
              isWinner=(eq (lookup ../../match.gameWinners gameIndex) playerIndex)
            }}

          {{/each}}
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>

  {{#if (eq match.status "ONGOING")}}
    {{#if match.startTime}}
      <div class="mt-4">
        <span class="text-sm font-bold text-green-500">
          Game {{add match.currentGame 1}} in progress
          <span class="elapsed-time" data-start="{{match.startTime}}"></span>
        </span>
      </div>
    {{else}}
      <div class="mt-4">
        <span class="text-sm font-bold text-green-500">
          Game {{add match.currentGame 1}} starting soon
        </span>
      </div>
    {{/if}}
  {{/if}}
</div>
